<header class="header">
  <div class="container header__inner">
    <div class="header__box">
      <a href="/" class="logo">August Studio</a>
      <div class="header__contacts">
        <a class="header__contacts-link" href="tel:+79590158051"
          >+7 (959) 015-80-51</a
        >
        <a class="header__contacts-link" href="tel:+79590158051"
          >+7 (938) 015-80-51</a
        >
        <a class="header__contacts-link" href="mailto:hello@august.studio"
          >hello@august.studio</a
        >
      </div>
    </div>

    <nav class="header__nav">
      <a class="header__nav-link" href="#">Цены</a>
      <a href="#" class="btn accent">Начать проект</a>
    </nav>
  </div>
</header>
